html {
    background-color: #282c34;
    padding: 5%;
}

.App {
    background-color: #282c34;
}

.Survey-header {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 5%;
}

/* MOOD */

.Button-mood {
    width: 65px;
    height: 65px;
    border-radius: 50% !important;
    margin: 20px !important;
    background-color: #282c34 !important;
    border-color: #282c34 !important;
    padding: 0px !important;
}

.Center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.select-Mood {
    color: white;
    margin: 30px;
}

.Continue-mood {
    margin-top: 4%;
    float: right !important;
}

.Continue-button {
    float: right !important;
    border-radius: 20px !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5%;
}

/* TIME */

.timeline-block {
    margin-top: 7%;
}

/* timeline element */
.Timeline {
    text-align: center;
    width: 80%;
    height: 5px;
    background: linear-gradient(to right, rgb(214, 59, 194), rgb(236, 132, 21));
    border-radius: 20px !important;
}

/* test time line */
.a {
    padding-inline-start: 0px !important;
}

/* points on timeline */
.a li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    top: -18px;
}

/* button element on the timeline */
.Button-time {
    width: 30px !important;
    height: 30px !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    padding: 6px !important;
    color: #282c34 !important;
    border-radius: 50px !important;
}

/* for the part with the time */
.text-time {
    margin-top: 30px !important;
}

/* color for the text */
.colorfont {
    color: #ffffff !important;
}


.select-Time {
    margin-top: 80px !important;
}