html {
    background-color: #282c34;
    padding: 5%;
}

.App {
  background-color: #282c34;
}

.Survey-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 100px;
}

.Button-mood {
  width: 65px;
  height: 65px;
  border-radius: 50% !important;
  margin: 20px !important;
  background-color: #282c34 !important;
  border-color: #282c34 !important;
  padding: 0px !important;
}

.Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-Mood {
  color: white;
  margin: 30px;
}

.Continue-mood {
  float: right !important;
}

.Continue-button {
  float: right !important;
  border-radius: 20px !important;
  margin-left: 5px;
  margin-right: 5px;
}

