.container-fluid{
}

h1{
    text-align: center;
    color : white;
}

.Media img{
    width: 50%;
    height: 9em;

}

.Media Button{
    border-radius: 100%;
    margin-left: 8%;
    margin-right: 7%;
    background-color: #FFD620;
}

.Media{
    padding-top: 15%;
    margin-left: 8%;
    margin-right: 5%;
}

.Validation Button{
    float: right;
    margin-top: 18%;
    /*border-radius: 0%;*/

}

