.Welcome {
    text-align: center;
    background-color: #282c34;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 10vmin);
    color: white;
}

.Welcome h1 {
    font-size: 1em;
}

.Welcome button {
    margin-top: 10vh;
}